* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.texto{
    margin: 2rem 2rem 3rem 2rem;
    h1{
        color: #942257;
    }
    p{
        margin: 1rem 0;
        color: white;
    }
}
.btn{
    margin: auto;
    position: relative;
    display: block;
    height: 6rem;
    width: 17rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #942257; 
    margin-bottom: 1rem;
    z-index: 0;
    font-weight: 700;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #942257;
        transition: all 500ms ease;
        z-index: -1;
    }
}
.txt{
    margin: 2rem 2rem;
    color: white;
}
.texto2{
    margin: 2rem 2rem;
    color: white;
}
.end{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    padding: 10px 15px;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
    }
}
.social-btn a{
    margin: 0 5px;
    i{
        color: white;
        padding: 8px;
        width: 16px;
        text-align: center;
    }
    i:hover{
        color: rgb(226, 23, 23);
    }
}
@media screen and (max-width:800px){
    footer{
        flex-direction: column;
    }
    .end{
        flex-direction: column;
    }
    .section{
        padding: 10px 0;
        margin-bottom: 20px;
    }
}